/* # SETUP */

:root {
    /* Primary Text colors */
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Gradient colors */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Neutral text colors */
    --dark-grayish-blue: hsl(237, 12%, 33%);
    --grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);

    min-height: 100vh;
}

* {
    font-family: Kumbh Sans, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 12px;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: var(--dark-blue);
}

/* # SPECIFIC */

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}

.faq-graphics-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.woman-mobile {
    position: absolute;
    transform: translate(-15px, -55%);
}

.mobile-shadow {
    transform: translateY(5px);
}


.faq-graphics-desktop {
    display: none;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 50px;
    width: clamp(0px, 350px, 90%);
    margin: 0 10px;
    box-shadow: 0 10px 10px rgba(74, 75, 94, .25);
}

h1.heading {
    text-align: center;
    margin-bottom: 30px;
}

.toggle {
    width: 90%;
    margin: 0 auto;
    padding-top: 18px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    cursor: pointer;
}

.toggle h2 {
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 14px;
    display: inline;
}

.expandable {
    grid-row: 2;
    margin-top: 10px;
    color: var(--grayish-blue);
    display: none;
    line-height: 0;
    opacity: 0;
}

.arrow {
    grid-column: 2;
    margin-left: 20px;
    align-self: center;
}

.toggle:after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--light-grayish-blue);
    width: 100%;
    grid-column: span 2;
    margin-top: 18px;
}

/* attribution */
.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (min-width: 850px) {
    .card {
        width: clamp(50vw, 80vw, 750px);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        padding: 0;
    }

    .faq-graphics-mobile {
        display: none;
    }

    .faq-graphics-desktop {
        display: flex;
        background-image: url("images/bg-pattern-desktop.svg");
        background-position: right;
        background-size: 200%;
        background-repeat: no-repeat;
        align-items: center;
    }
    
    .desktop-box {
        height: 100px;
        width: 100px;
        display: block;
        position: absolute;
    }

    .woman-desktop {
        transform: translateX(-100px);
        max-width: 140%;
    }

    .card-content {
        padding: 50px 50px 50px 0;
    }

    h1.heading {
        text-align: left;
    }

    .toggle {
        margin: 0;
    }

}